@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
 font-family: 'Roboto',sans-serif; 
   
}


html,body{
    background-color: black;
    color: white;
}
a,a:hover,a:visited{
  text-decoration: none;
  text-transform: none;
}